
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/blog">Go to NewsFeed</a>
    </div>
    <div class="navbar-header">
     <a class="navbar-brand" id="profile">Edit Profile</a>
    </div>
  </div>
</nav>

  <div class="container profile">
    <div class="row">
      <div class="col-md-6  float-left">
        <h2><center>Welcome <span class="member-name"></span></h2></center>
        <div id = profileInfo></div>
      </div>
      	<div class="col-md-6  float-right">
				<form id="cms">
					<div class="form-group">
						<label for="title">Title:</label>
						<input placeholder="Post Title" type="text" class="form-control" id="title">
						<br />
						<label for="body">Body:</label>
						<textarea placeholder="Post Body" class="form-control" rows="5" id="body"></textarea>
						<br />
						<button type="submit" class="btn btn-success submit">Submit</button>
					</div>
				</form>
			</div>
    </div>
  </div>

		
		

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/members.js"></script>

  