<div class="container">
      <div class="row">
        <div class="col-sm-8">
			<form id="profileForm">
          		<div class="form-group">
					<label for="interest">Interests</label>
					<textarea placeholder="My interests are..." class="form-control" rows="3" id="interest"></textarea>
           			<div class="form-group">
					<label for="relationship">Relationship Status</label>
					<select class="custom-select" id="relationship">
                		<option value="single">Single</option>
                		<option value="taken">In a relationship</option>
                		<option value="na">Unknown</option>
  					</select>
              		<label for="location">Location</label>
					<textarea placeholder="My current location:" class="form-control" rows="3" id="location"></textarea>
					</div>
					<button type="submit" class="btn btn-success submit">Submit</button>
				</div>
			</form>
        </div>
      </div>  
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/profileInfo.js"></script>