body {
  background-color: white;
 }
form.signup,
form.login {
  margin-top: 50px;
}

button.submit {
  float: right;
}

#preview {
  width: 500px;
  height: auto;
  background: white;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.user-container {
  margin-top: 50px;
}

.user-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

#user-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}
